/* @font-face {
    font-family: 'Gilroy';
    src: url(./font/gilroy-medium.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(./font/gilroy-bold.ttf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(./font/gilroy-black.ttf);
}


@font-face {
    font-family: 'Gilroy';
    src: url(./font/Gilroy-Light.otf);
}


@font-face {
    font-family: 'Gilroy';
    src: url(./font/Gilroy-ExtraBold.otf);
}


@font-face {
    font-family: 'Avenir Next Cyr';
    src: url(./font/avenirnextcyr-medium.ttf);
}



    

@font-face {
    font-family: 'Gilroy';
    src: url(./font/gilroy-regular.ttf);
}
 */
